body {
  width: 1800px;
  height: 100vh;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  width: 12.5rem;
  height: 12.5rem;
  background-color: red;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 50%, 0 80%);
  /*  cordinate of the pixle(conection point) x y , x1 y , ......  */
}
